[Desktop Entry]
Type=Application
Name=Install EisBärOS
Name[de]=EisBärOS installieren
GenericName=System Installer
Comment=Install EisBärOS to your hard drive
Comment[de]=Installiere EisBärOS auf deine Festplatte
Exec=electron /usr/local/share/eisbaer-installer
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=install;installer;eisbaer;
